global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend http-in
    bind *:80

    acl url_webapps path_beg /backend
    use_backend webapps if url_webapps

    default_backend nginx

backend nginx
    server nginx1 127.0.0.1:8888 maxconn 32

backend webapps
    server webapp1 172.20.100.7:8080 maxconn 32
    server webapp2 172.20.100.8:8080 maxconn 32
